<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script type="text/javascript" src="redirect.js"></script>

  <script>
  var app = angular.module('app', []);

  app.controller('MainCtrl', function($scope) {
    $scope.redirectFields = {
      mobileUrl: null,
      homeUrl: null,
      excludeUrl: null,
      currentUrl: null
    };

    $scope.redirect = function(redirectFields) {
      console.log(redirectFields);
      var homePattern = redirectFields.homeUrl ? new RegExp(redirectFields.homeUrl) : null;
      var excludePattern = redirectFields.excludeUrl ? new RegExp(redirectFields.excludeUrl) : null
      RedirectToMeuMobi(redirectFields.mobileUrl, homePattern, excludePattern, redirectFields.currentUrl);
    };
  });
  </script>
<style>
</style>
</head>
<body ng-controller="MainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-md-offset-4">
        <h2>Redirect test</h2>
        <form role="form" ng-submit="redirect(redirectFields)">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="redirectFields.mobileUrl" placeholder="Mobile url">
            <span class="help-block">http://santander.int-meumobi.com</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="redirectFields.homeUrl" placeholder="Home url regex">
            <span class="help-block">\/home|\/index.html</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="redirectFields.excludeUrl" placeholder="Exclude url regex">
            <span class="help-block">\/contact|\/documents</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="redirectFields.currentUrl" placeholder="Current url">
            <span class="help-block">http://www.180back.com/snowboard/breves-snowboard/shredbots-the-moovie-le-trailer-16656/</span>
          </div>
          <button type="submit" class="btn btn-default">Redirect</button>
        </form>
     </div>
  </div>
</div>
</body>
</html>

